<template name="dashboard">
    <h2>My Dashboard</h2>

    <div class="row">
        <div class="col s12 m6">
        <div class="card blue-grey darken-1">
            <div class="card-content white-text">
            <span class="card-title"><h4>My Entities</h4></span>
                <div class="row">
                    <div class="col s8"><i class="large material-icons">business</i></div>
                    <div class="col s4"><h2>{{entityCount}}</h2></div>
                </div>
            </div>
            <div class="card-action">
            <a href="#">This is a link</a>
            <a href="#">This is a link</a>
            </div>
        </div>
    </div>

    </div>
    <h4>My Children</h4>
    <h4>My Messages</h4>
    <h4>My Approved Persons</h4>
    <h4>My Denied Persons</h4>
    <h4>My Approved Vehicles</h4>
    <h4>My Denied Vehicles</h4>
    <h4>My Parents</h4>
</template>