<template name="userMgmt">
    {{#if isInRole 'systemadmin'}}
        <h3>User Management</h3>
        <div class="row">
            <div class="col s12 m6 l4 input-field" id="usersListCol">
                
            </div>
            <div class="col s12 m6 l4 input-field" id="userAssignedRoleCol">

            </div>
            <div class="col s12 m6 l4" id="assignRoleBtnCol">

            </div>
        </div>
    {{/if}}
</template>